<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="App.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <App.Configuration.Properties.Settings>
            <setting name="WeatherStackBaseUrl" serializeAs="String">
                <value>https://api.weatherstack.com/current</value>
            </setting>
            <setting name="WeatherStackApiKey" serializeAs="String">
                <value>21ea53f6d2bfaac66bd53062f96910f8</value>
            </setting>
        </App.Configuration.Properties.Settings>
    </applicationSettings>
</configuration>